p {color: green;}
section {text-align: center;}
header {text-align: center; background-color: lightsalmon;}

body, html {margin: 0px;
  height: 100%;
  width: 100%}
  
ul {margin: 0;
padding: 0;
list-style-type: none;}

li {display: inline-block;
margin-right: 20px}

nav a {color: black;
text-decoration: none;}

iframe: ;{border: 4px solid lightsalmon; }
p {color: green;}
section {text-align: center;



#colorChanger {
  display: block;
  margin: auto;
  border: none;
  background-color: lightsalmon;

